g path {
    fill: none;
    stroke:black;
    stroke-width:1px;
}

line.teacher {
    stroke:green;
    stroke-width:3px;
}

line.student {
    stroke:pink;
    stroke-width:3px;
}
text.charttitle {
    font-size: 14px;
    font-family: "open sans", sans-serif;
    fill:#625e5e;
}
path.area0:hover
{
    fill:rgb(40, 40, 103);
}
path.area1:hover
{
    fill:rgb(10, 176, 226);
}
path.area2:hover 
{
    fill:rgb(131, 234, 242);
}
path.area3:hover
{
    fill:rgb(180, 21, 21);
}
path.area4:hover {
    fill:rgb(66, 106, 66);
}
g.tick text {
    font-size:8px;
    font-family: "open sans", sans-serif;
    fill: #4e4b4b;
}
path.domain {
    stroke:#4e4b4b;
}
path.area0 {
    fill:rgba(40, 40, 103, .7);
}
path.area1 {
    fill:rgba(10, 176, 226, .7);
}
path.area2 {
    fill:rgba(210, 235, 237,.7);
}
path.area3 {
    fill:rgba(180, 21, 21, .7);
}
path.area4 {
    fill:rgba(66, 106, 66, .7); 
}
g.tick line {
    stroke-width:.5px;
    stroke: #4e4b4b;
}
g.hidden line, 
g.hidden path {
    display:none;
}

g.group0 path {
    stroke:#110d72;
    fill: none;
}
g.group0 circle {
  fill: #110d72;
  stroke:0;
}

g.group1 path {
    stroke:green;
    fill: none;
}
g.group1 circle {
  fill: green;
  stroke:0;
}

g.group2 path {
    stroke:#0ab0e2;
    fill: none;
}
g.group2 circle {
  fill: #0ab0e2;
  stroke:0;
}

g.group3 path {
    stroke:#951010;
    fill: none;
}
g.group3 circle {
  fill: #951010;
  stroke:0;
}

g rect.novice{
    fill:#2197ba;
    stroke:white;
}
g rect.expert{
    fill:#383574;
    stroke:white;
}
g rect.engineer{
    fill:#66366a;
    stroke:white;
}
g rect.student{
    fill:#55d5ed;
    stroke:white;
}
g rect.teacher{
    fill:rgb(234, 194, 119);
    stroke:white;
}
g rect.percent_expert {
    fill: rgba(128, 128, 128,.2);
    stroke: white;
}
g rect.pm{
    fill:#0f670f;
    stroke:white;
}

g rect:hover{fill:orange;}
div.tooltip {	
    position:absolute;			
    text-align: center;			
    width: 60px;					
    height: 15px;					
    padding: .5px;				
    font-size:8px;
    color:white;
    font-family: "open sans", sans-serif;
    background: rgba(0, 0, 0,.8);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

text {
    fill:gray;
    font-size:7px;
    font-family: "open sans", sans-serif;
    text-anchor:end;
}
text.roles {
    fill:gray;
    font-size:10px;
    font-family: "open sans", sans-serif;
    text-anchor:end;
}

